.env
.git
.github
.gitignore
.editorconfig
.vscode
php_errors.log
composer.lock
package-lock.json
node_modules
vendor
public/hot
public/storage
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
docker-compose.yml
Dockerfile
.dockerignore
tests
phpunit.xml
.agent
.agent/workflows
